
@{
    ViewBag.Title = "Index";

}
@{
Layout= "~/Views/Shared/Yte.cshtml";
}

<h2>Index</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>

        <p>index </p>


    </div>

</body>
</html>

